
*.cacsv
*.caw
*.dir
*.nexe
*.objdump
*.prd
*.suo
*.ti
*.opensdf
*.sdf
*.ipch
xcuserdata
/GameEmptyReplaceMe/Output
/GameEmptyReplaceMe/Game/SourceAndroid/AndroidApk/assets
/GameEmptyReplaceMe/Game/SourceAndroid/AndroidApk/bin
/GameEmptyReplaceMe/Game/SourceAndroid/AndroidApk/gen
/GameEmptyReplaceMe/Game/SourceAndroid/AndroidApk/libs/armeabi
/GameEmptyReplaceMe/Game/SourceAndroid/AndroidApk/local.properties
/GameEmptyReplaceMe/Game/SourceNaCL/Web/Data
/GameEmptyReplaceMe/Game/SavedData.dat
/GameEmptyReplaceMe/Game/SourceBlackBerry/Data
/GameEmptyReplaceMe/Game/SourceBlackBerry/Device-*
/GameEmptyReplaceMe/Game/SourceBlackBerry/Simulator-*
/GameEmptyReplaceMe/Game/SourceBlackBerry/PlayBook-*
/GameEmptyReplaceMe/Game/SourceBada/.Target*
/MyLocalInclude.h
